
.bg-red{
    background-color: rgb(10, 6, 10);
    display: inline-grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1.25,1fr);
    margin: 1px 1px 1px 1px ;
    border: 0.01px solid black;
}


  .bg-blue{
    background-color: plum;
    
  } 